.stock-exchange__company {
    display: flex;
    flex-flow: column;

    &-stock-change-value,
    &-after-hours-value {
        font-weight: 700;
        letter-spacing: 0.3px;
    }

    &-name {
        font-size: var(--font-big);
        font-weight: 500;
    }

    &-stock-value {
        font-size: var(--font-medium);
        font-weight: 500;
    }

    &-stock-change,
    &-after-hours {
        display: flex;
        flex-flow: row;
        align-items: center;
        font-size: var(--font-caption);
        margin-top: var(--gutter-small);
        column-gap: 4px;
    }

    &-after-hours {
        visibility: hidden;
        user-select: none;

        &--active {
            visibility: visible;
            user-select: initial;
        }
    }
}