.stock-exchange__company {
    display: flex;
    flex-flow: column;

    &-stock-change-value,
    &-after-hours-value {
        font-weight: 700;
        letter-spacing: 0.3px;
    }

    &-name {
        font-size: var(--font-big);
        font-weight: 500;
    }

    &-stock-value {
        font-size: var(--font-medium);
        font-weight: 500;
    }

    &-stock-change,
    &-after-hours {
        display: flex;
        flex-flow: row;
        align-items: center;
        font-size: var(--font-caption);
        margin-top: var(--gutter-small);
        column-gap: 4px;
    }

    &-after-hours {
        visibility: hidden;
        user-select: none;

        &--active {
            visibility: visible;
            user-select: initial;
        }
    }

    &-data {
        display: flex;
        flex-flow: column nowrap;
        margin-top: var(--vertical-spacing);

        & > * {
            margin-top: var(--vertical-spacing);
        }

        &-row {
            display: flex;
            flex-flow: row wrap;
            gap: var(--gutter);
            font-size: var(--font-small);
            font-weight: 300;
        }

        &-description {
            font-size: var(--font-small);
            margin-top: var(--gutter);
        }

        &-key {
            font-weight: 600;
        }

        &-content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            gap: var(--gutter);
            flex: 1;
            flex-basis: calc(25% - var(--gutter));
        }

        &-header {
            border-bottom: 1px solid var(--color-background-lighter);
            padding-bottom: var(--gutter);
        }
    }
}