.stock-exchange__graph {
    display: flex;
    flex-flow: column;

    &-data {
        display: flex;
        flex-flow: column nowrap;
        margin-top: var(--gutter);
    }

    &-canvas {
        width: 100%;
        height: 350px;
        stroke: currentColor;

        line {
            padding: 350px 0;
            stroke-opacity: 1.0;
        }

        rect {
            pointer-events: fill;
        }

        &:hover line {
            stroke-opacity: 0.6;
        }
        
        // rect:hover ~ line {
        //     stroke-opacity: 1.0;
        // }

        rect:hover ~ circle {
            stroke: var(--color-background);
            fill: currentColor;
        }
    }

    &-center-line {
        stroke: var(--color-background-lighter);
        stroke-opacity: 1.0 !important;
    }

    &-period {
        font-family: var(--monospace-font-family);
        display: flex;
        flex-flow: row;
        gap: var(--gutter);
        margin-top: var(--gutter);
        font-size: var(--font-small);
        list-style-type: none;
    }

    &-period li {
        @include transition(color);
        padding-bottom: var(--gutter-small);
    }

    &-period li:hover {
        cursor: pointer;
        color: var(--color-positive);
    }

    &-period-item--active {
        color: var(--color-positive);
        border-bottom: 3px solid var(--color-positive);
    }
}