@charset "UTF-8";
/* abstracts imported first, as there are no dependencies */
/* screen size definitions */
:root {
  /* font family */
  --font-family: monospace;
  /* font sizes */
  --font-big: 48px;
  --font-medium: 32px;
  --font-small: 18px;
  --font-caption: 14px;
  /* palette */
  --color-positive: rgb(0, 200, 5);
  --color-positive-transparent: rgba(0, 200, 5, 0.14);
  --color-negative: rgb(255, 80, 0);
  --color-negative-transparent: rgba(255, 80, 0, 0.14);
  --color-background: #131313;
  --color-background-light: #181818;
  --color-background-lighter: #313131;
  --color-background-lightest: #515151;
  --color-foreground: #dcdcdc;
  /* spacing */
  --vertical-spacing: 48px;
  --gutter-large: 24px;
  --gutter: 16px;
  --gutter-small: 12px;
  --gutter-micro: 8px;
  /* border */
  --default-border-radius: 4px;
  --default-border-width: 1px;
  /* animation */
  --default-animation-time: 0.3s;
  --fast-animation-time: 0.2s;
  /* z-layering */
  --default-layer: 1;
  --top-layer: 2;
}

/* mixins are only dependent on abstracts */
/* base is dependent on mixins */
.stock-exchange--positive {
  color: var(--color-positive);
}
.stock-exchange--negative {
  color: var(--color-negative);
}

.stock-exchange__input {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--vertical-spacing);
}
.stock-exchange__input label, .stock-exchange__input input {
  cursor: pointer;
}
.stock-exchange__input input {
  font-family: var(--font-family);
}
.stock-exchange__input label {
  font-size: var(--font-caption);
}

.stock-exchange {
  flex-flow: column nowrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  box-sizing: border-box;
  font-size: var(--font-medium);
  font-family: var(--font-family);
  font-weight: bold;
}
.stock-exchange, .stock-exchange__two-column, .stock-exchange__row {
  display: flex;
}
.stock-exchange__two-column {
  flex-flow: column nowrap;
}
.stock-exchange__primary {
  flex: 1;
}
.stock-exchange__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media (min-width: 960px) {
  .stock-exchange__two-column {
    flex-flow: row wrap;
  }
  .stock-exchange__secondary {
    margin-top: var(--vertical-spacing);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: var(--font-medium);
}

p, h1, h2, h3, h4 {
  margin: 0;
}

.stock-exchange__input--select, .stock-exchange__input--option, .stock-exchange__input--select-active .stock-exchange__input--option-list {
  display: flex;
}
.stock-exchange__input--select, .stock-exchange__input--select:after, .stock-exchange__input--selected-option, .stock-exchange__input--option {
  font-size: var(--font-caption);
}
.stock-exchange__input--select:after, .stock-exchange__input--selected-option, .stock-exchange__input--option-list {
  z-index: var(--top-layer);
}
.stock-exchange__input--select, .stock-exchange__input--selected-option, .stock-exchange__input--option-list {
  width: 100%;
}
.stock-exchange__input--select {
  position: relative;
  max-width: 150px;
}
.stock-exchange__input--select:after {
  transition-duration: var(--fast-animation-time);
  transition-property: transform, color;
  transition-timing-function: ease-in-out;
  content: "❯";
  position: absolute;
  right: var(--gutter);
  top: var(--gutter-micro);
  color: var(--color-background-lighter);
  transform: rotate(-90deg);
  pointer-events: none;
}
.stock-exchange__input--selected-option {
  box-sizing: border-box;
  border: var(--default-border-width) solid var(--color-background-lighter);
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding: var(--gutter-micro);
  padding-right: var(--gutter-large);
  border-radius: var(--default-border-radius);
}
.stock-exchange__input--selected-option:active, .stock-exchange__input--selected-option:focus, .stock-exchange__input--selected-option:focus-visible {
  outline: 1px solid var(--color-background-lightest);
}
.stock-exchange__input--select.stock-exchange__input--select-active:after {
  transform: rotate(90deg);
  color: var(--color-foreground);
}
.stock-exchange__input--option-list {
  box-sizing: border-box;
  border: var(--default-border-width) solid var(--color-background-lighter);
  display: none;
  flex-flow: column nowrap;
  position: absolute;
  top: 100%;
  background-color: var(--color-background);
  color: var(--color-foreground);
  border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);
}
.stock-exchange__input--option {
  box-sizing: border-box;
  border-top: var(--default-border-width) solid var(--color-background-lighter);
  cursor: pointer;
  flex: 1;
  padding: var(--gutter-micro);
}
.stock-exchange__input--option:first-child {
  margin-top: 0;
  border-top: none;
}
.stock-exchange__input--option:hover {
  background-color: var(--color-background-light);
}

/* modules are dependent on base */
.stock-exchange__company-name {
  font-size: var(--font-big);
}
.stock-exchange__company-stock-value {
  font-size: var(--font-medium);
}
.stock-exchange__company-stock-change, .stock-exchange__company-after-hours {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 4px;
  font-size: var(--font-small);
}
.stock-exchange__company-stock-change-time, .stock-exchange__company-after-hours-time {
  font-size: var(--font-caption);
}

.stock-exchange__graph {
  display: flex;
  flex-flow: column;
}
.stock-exchange__graph-data {
  display: flex;
  flex-flow: column nowrap;
  padding: var(--gutter);
}
.stock-exchange__graph-canvas {
  width: 100%;
}
.stock-exchange__graph-period {
  display: flex;
  flex-flow: row;
  gap: var(--gutter);
  font-size: var(--font-small);
  list-style-type: none;
}
.stock-exchange__graph-period li {
  transition-duration: var(--default-animation-time);
  transition-property: color;
  transition-timing-function: ease-in-out;
  padding-bottom: var(--gutter-small);
}
.stock-exchange__graph-period li:hover {
  cursor: pointer;
  color: var(--color-positive);
}
.stock-exchange__graph-period-item--active {
  color: var(--color-positive);
  border-bottom: 3px solid var(--color-positive);
}

.stock-exchange--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.stock-exchange--loading > * {
  visibility: hidden;
  pointer-events: none;
  user-select: none;
}
.stock-exchange--loading::after {
  content: "";
  position: absolute;
  width: 50px;
  padding: 8px;
  top: calc(50% - 25px);
  margin: 0 auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-background-lighter);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: rotateLoader 1s infinite linear;
}

@keyframes rotateLoader {
  to {
    transform: rotate(1turn);
  }
}
.stock-exchange__transaction-window {
  box-sizing: border-box;
  border: var(--default-border-width) solid var(--color-background-lighter);
  display: flex;
  flex-flow: column nowrap;
  font-size: var(--font-caption);
  padding: var(--gutter);
  background-color: var(--color-background-light);
  border-radius: var(--default-border-radius);
}
.stock-exchange__transaction-window > *:not(:first-child) {
  padding-top: var(--gutter-small);
  margin-top: var(--gutter-small);
}
.stock-exchange__transaction-window > *:nth-child(2) {
  box-sizing: border-box;
  border-top: var(--default-border-width) solid var(--color-background-lighter);
}
.stock-exchange__transaction-header {
  font-size: var(--font-small);
}

/*# sourceMappingURL=main.css.map */
