.stock-exchange {
    flex-flow: column nowrap;
    margin: var(--vertical-spacing) auto 0;
    width: 100%;
    max-width: $screen-widescreen;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    box-sizing: border-box;
    font-size: var(--font-medium);
    font-family: var(--font-family);
    font-weight: bold;

    &,
    &__two-column,
    &__row {
        display: flex;
    }

    &__two-column {
        flex-flow: column nowrap;
        row-gap: var(--gutter-large);
    }

    &__primary {
        flex: 1;
    }

    &__row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    @media (min-width: $screen-desktop) {
        &__two-column {
            flex-flow: row wrap;
            row-gap: 0;
        }

        &__secondary {
            margin-top: var(--vertical-spacing);
        }
    }
}