.stock-exchange {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 100%;
    max-width: $screen-widescreen;

    &__two-column {
        display: flex;
        flex-flow: column nowrap;
    }

    &__primary {
        flex: 1;
    }

    &__row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    @media (min-width: $screen-desktop) {
        &__two-column {
            flex-flow: row wrap;
        }

        &__secondary {
            margin-top: var(--vertical-spacing);
        }
    }
}