:root {
    --font-big: 48px;
    --font-medium: 32px;
    --font-small: 18px;
    --color-positive: rgb(0, 200, 5);
    --color-positive-transparent: rgba(0, 200, 5, 0.14);
    --color-negative: rgb(255, 80, 0);
    --color-negative-transparent: rgba(255, 80, 0, 0.14);
}