body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-size: var(--font-medium);
}

p, h1, h2, h3, h4 {
    margin: 0;
}

.stock-exchange {
    font-size: var(--font-medium);
    font-family: monospace;
    font-weight: bold;
}

.stock-exchange--positive {
    color: var(--color-positive);
}

.stock-exchange--negative {
    color: var(--color-negative);
}