.stock-exchange__input {
    &--select,
    &--select:after,
    &--selected-option,
    &--option {
        font-size: var(--font-caption);
    }

    &--selected-option,
    &--option-list,
    &--option {
        box-sizing: border-box;
    }
    
    &--select {
        display: flex;
        position: relative;
        max-width: 150px;
        width: 100%;
        z-index: 1;
    }

    &--select:after {
        content: '❯';
        position: absolute;
        display: block;
        right: 16px;
        top: 8px;
        color: var(--color-background-lighter);
        transform: rotate(-90deg);
        transition: transform 0.25s ease-in-out, color 0.25s ease-in-out;
        pointer-events: none;
        z-index: 3;
    }

    &--selected-option {
        display: block;
        background-color: var(--color-background);
        color: var(--color-foreground);
        width: 100%;
        padding: 8px 24px 8px 8px;
        font-family: monospace;
        border-radius: var(--default-border-radius);
        border: 1px solid var(--color-background-lighter);
        z-index: 3;
    }
    
    &--selected-option:active,
    &--selected-option:focus,
    &--selected-option:focus-visible {
        outline: 1px solid var(--color-background-lightest);
    }

    &--select.stock-exchange__input--select-active:after {
        transform: rotate(90deg);
        color: var(--color-foreground);
    }

    &--option-list {
        display: none;
        flex-flow: column nowrap;
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: var(--color-background);
        color: var(--color-foreground);
        border: 1px solid var(--color-background-lighter);
        border-bottom-left-radius: var(--default-border-radius);
        border-bottom-right-radius: var(--default-border-radius);
        z-index: 2;
    }

    &--option {
        display: flex;
        flex: 1;
        cursor: pointer;
        padding: 8px;
        border-top: 1px solid var(--color-background-lighter);
    }

    &--option:first-child {
        margin-top: 0;
        border-top: none;
    }

    &--option:hover {
        background-color: var(--color-background-light);
    }

    &--select-active &--option-list {
        display: flex;
    }
}